Đọc dữ liệu radar từ file csv

In [1]:
import pandas as pd
data_path = "/Users/luanluan/Documents/Data/dw_airflow/data/radar/2020/Pro-Raw(1-8)T7-2020/01/"
read_file = pd.read_csv(data_path + "NHB230601000008.rawlgzv.csv")
read_file.head(5)

,longitude,latitude,altitude,reflectivity,total_power,velocity,spectrum_width,time
0,10.659610,106.728325,10.0,NaN,23.16,NaN,NaN,9.0
1,10.665006,106.728360,15.0,NaN,33.11,NaN,NaN,9.0
2,10.670401,106.728390,21.0,8.91,16.82,NaN,NaN,9.0
3,10.675796,106.728424,27.0,18.73,25.21,NaN,NaN,9.0
4,10.681191,106.728460,34.0,19.04,31.96,NaN,NaN,9.0

Hiện thông tin mô tả toàn bộ các cột

In [2]:
read_file.describe()

,longitude,latitude,altitude,reflectivity,total_power,velocity,spectrum_width,time
count,694500.000000,694500.000000,694500.000000,24719.000000,102712.000000,3981.000000,9323.000000,694500.000000
mean,10.696635,106.756144,7281.386108,1.560963,8.615370,-0.309935,0.984281,87.973362
std,1.090716,1.122769,5807.899138,13.135602,14.847889,2.606064,0.395482,49.782457
min,7.969194,103.990654,10.000000,-35.570000,-25.620000,-4.020000,0.010000,1.000000
25%,10.026549,106.056840,2482.000000,-8.860000,-2.680000,-2.620000,0.740000,48.000000
50%,10.681468,106.751147,5940.000000,-1.150000,6.770000,-0.890000,0.990000,91.000000
75%,11.388629,107.472146,10989.000000,11.650000,16.830000,2.150000,1.230000,132.000000
max,13.349942,109.465980,24684.000000,57.890000,77.680000,4.020000,2.520000,171.000000

Data profiling cho dữ liệu

In [3]:
import pandas as pd
from pandas_profiling import ProfileReport

profile = ProfileReport(
    read_file, title="Pandas Profiling Report for Nhabe Radar dataset"
)
profile.to_file("../data_to_web/nhabe_radar_profiling.html")

/opt/miniconda3/envs/pyart_env/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/var/folders/2g/kb6f4qyd3q14d23fk_rsgs4m0000gn/T/ipykernel_4522/544784382.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport
Summarize dataset:  94%|█████████▍| 77/82 [00:06<00:00,  7.40it/s, Missing diagram heatmap]               /opt/miniconda3/envs/pyart_env/lib/python3.9/site-packages/seaborn/matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
/opt/miniconda3/envs/pyart_env/lib/python3.9/site-packages/ydata_profiling/model/missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(
Summarize dataset: 100%|██████████| 82/82 [00:06<00:00, 12.97it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.26s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.11s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 145.28it/s]